ul.AccountList {
    margin: 0 2em;
}

ul.AccountList li {
    margin-top: 1.5em;
    font-weight: bold;
}

ul.AccountList li p {
    margin-top: 0.5em;
    font-weight: normal;
    color: #666;
}

#profileForm dl {
    margin: 5px 20px;
}

#profileForm dt {
    font-size: 14px;
    font-weight: bold;
    line-height: 2em;
    color: #6B9F1F;
    margin: 5px 0 0 0;
}

#profileForm dd {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 2em;
    color: #666;
}

#profileForm dd input#submit {
    font-size: 14px;
}

#profileForm dl.submit {
    margin-top: 2em;
}

#profileForm dl.submit dt {
    font-size: 0.2em;
    line-height: 1em;
}

#profileForm td {
    padding: 5px;
}

.CurrentIcon {
    font-size: 12px;
    padding: 10px;
    margin-top: 30px;
    height: 55px;
    background-color: #EEF2FD;
    margin-bottom: 5px;
    border: 1px solid #D3DEFA;
    vertical-align: middle;
}

.CurrentIcon img {
    padding: 3px;
    float: left;
    border: none;
}

.Frozen {
    margin: 0 1em 1em 1em;
    padding: 0.8em 1em;
    text-align: center;
    background-color: #f5f5f5;
    border: 3px solid #eee;
}

.manageCenterTitle {
    width: 700px;
    clear: right;
    float: left;
    margin: 20px 0px 20px 0px;
    height: 30px;
}

.sideBar {
    margin: 0 1em 0 1em;
    clear: right;
    clear: right;
}

.fluxShow {
    margin: 0 1em 1em 0;
    clear: none;
    float: left;
    background-color: #f5f5f5;
    height: 40px;
    margin: 5px 20px 5px 0px;
}

.mainMenu {
    margin: 0px 10px 5px 30px;
    width: 100px;
    float: left;
    font-size: 15px;
}

.currentMenu {
    margin: 0px 10px 5px 30px;
    width: 100px;
    float: left;
    font-size: 15px;
    color: #6B9F1F;
}

.leftMenu {
    margin: 20px 0px 30px 10px;
    float: top;
    padding-bottom: 20px;
}

ul.menuList {
    margin-left: 20px;
    padding-left: 10px;
    font-size: 13px;
}

ul.menuList li {
    line-height: 30px;
    font-weight: bold;
}

ul.homepage_ul {
    margin: 0 2em;
}

ul.homepage_ul li {
    margin-top: 1.5em;
    font-weight: bold;
}

ul.homepage_ul li p {
    margin-top: 0.5em;
    font-weight: normal;
    color: #666;
}

.modifyMail {
    margin: 20px 0 20px 60px;
    color: #666;
    font-weight: bold;
    font-size: 13px;
}

dl.email {
    margin-bottom: 20px;
}

.menuLabel {
    font-size: 14px;
    width: 60px;
    display: block;
}

.model {
    width: 300px;
}

.brand {
    width: 100px;
}

ul.licenseMenu {
    margin-left: 20px;
    padding-left: 10px;
    font-size: 13px;
    list-style-type: none;
}

ul.licenseMenu li {
    line-height: 30px;
}

.layout-block {
    margin-left: 120px;
}

.mailBlock {
    width: 720px;
    clear: none;
}

.mailOrationBlock {
    width: 350px;
    background-color: #f5f5f5;
    float: left;
    font-size: 14px;
    margin: 20px 20px 20px 0px;
    line-height: 20px;
}

.mailAddressBlock {
    width: 350px;
    float: left;
}

.mailHintBlock {
    width: 220px;
    float: left;
    margin-right: 10px;
}

.appBlock {
    width: 720px;
    clear: right;
    float: top;
    margin: 20px 0px 20px 20px;
}

.appNameBlock {
    float: left;
    width: 200px;
}

.appListBody {
    float: left;
    width: 430px;
}

.appEditWord {
    float: left;
    width: 70px;
}
/*--*/
.module-title {
    border-bottom: 1px solid #EFEFEF;
    color: #6C9F1E;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 10px;
    clear: left;
}

.country-label {
    display: block;
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 60px;
}

.sub-header {
    color: #6C9F1E;
}

.cameraToolTable {
    float: left;
    margin-left: 10px;
    margin-bottom: 15px;
    clear: right;
    width: 530px;
}
/*new styles */
/*div#menu{
 text-align:center;
 background:url(/images/account/menu_bg.gif) bottom repeat-x;
 clear:both;
 margin:20px 0 17px 0;
 height:20px;
 }
 div#menu dd{
 margin-left:25px;
 display:inline;
 }
 div#menu dd a{
 font-size:14px;
 text-decoration:none;
 padding:5px 13px 2px 13px;
 background:#f1f1f1;
 }
 div#menu dd a.select{
 font-weight:bold;
 color:#6C9F1E;
 background:#fff;
 border:1px solid #f1f1f1;
 border-bottom:0;
 }*/
div#menu {
    float: left;
    background: url(/images/menu_bg.gif) bottom repeat-x;
    height: 23px;
    margin: 20px 0;
    clear: both;
    width: 100%;
}

div#menu div.menu_btu {
    margin-left: 80px;
}

div#menu a {
    display: block;
    float: left;
    margin-right: 20px;
    font-size: 14px;
    line-height: 23px;
    padding: 0 13px;
    background: #ececec;
    text-decoration: none;
}

div#menu a.select {
    border: 1px solid #ececec;
    border-bottom: 0;
    background: #fff;
    line-height: 22px;
}

.IForm {
    float: left;
}

.IForm dl {
    width: 390px;
    margin: 0;
}

div#conbox a.resetemail {
    background: #666;
    color: #fff;
}

div#submenu {
    float: left;
    width: 170px;
}

div#submenu dl {
    line-height: 33px;
    border: 4px solid #f0f0f0;
    padding: 12px;
}

div#submenu dt {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dashed #efefef;
}

div#submenu dd {
    border-bottom: 1px solid #efefef;
    padding-left: 10px;
}

div#submenu dd a {
    color: #6C9F1E;
}

div#submenu dd.select {
    background: url(/images/account/ico.gif) 0 center no-repeat;
}

div#submenu p {
    margin-top: 10px;
    background: #f0f0f0;
    padding: 5px;
    line-height: 18px;
}

div#conbox {
    float: left;
    margin-left: 0px;
    width: 560px;
}

div#conbox h1 {
    font-size: 14px;
    color: #6C9F1E;
    margin-bottom: 5px;
}

div#conbox input.pram {
    width: 168px;
    height: 20px;
}

div#conbox dl {
    margin-bottom: 17px;
}

div#conbox dd, div#conbox dt {
    padding: 0 15px;
}

div#conbox dd {
    padding: 0 0 12px 10px;
    clear: both;
}

div#conbox dd label {
    line-height: 20px;
}

div#conbox dd label.info_small {
    display: block;
    margin-bottom: 3px;
}

div#conbox dd label.info {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
}

div#conbox dd label.info_block {
    background: #eafdd0;
    font-weight: bold;
}

div#conbox label.info_left {
    display: block;
    width: 60px;
    text-align: right;
    margin-right: 5px;
    float: left;
}

div#conbox h1 label {
    font-size: 12px;
    color: #575757;
    font-weight: normal;
}

div#conbox h1 label.info_block {
    font-weight: normal;
}

div#conbox h1 span {
    font-weight: normal;
    float: right;
    color: #575757;
    font-size: 12px;
}

div#conbox dt {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    color: #6C9F1E;
}

div#conbox dt label {
    font-size: 12px;
    font-weight: normal;
    color: #838383;
}

div#conbox dt a {
    font-size: 12px;
    color: #838383;
    font-weight: normal;
    background: #D5FBA8;
}

div#conbox dl.blockbar {
    padding: 10px 0;
}

div#conbox dl.blockbar dd {
    padding-left: 15px;
}

div#conbox dl.blockbar li {
    list-style-type: none;
}

div#conbox dl.blockbar li.title {
    font-size: 14px;
    color: #6C9F1E;
    font-weight: bold;
    list-style-type: disc;
}

div#conbox ul.mylink li {
    list-style-type: none;
    display: block;
    float: left;
    width: 250px;
    padding: 5px 0;
}

div#conbox ul.mylink label.info_left {
    width: 50px;
}

div#conbox dd.uploadhead {
    background: #fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
    margin-bottom: 20px;
}

div#conbox dd.uploadhead p {
    margin: 0;
    float: left;
    padding-left: 20px;
}

div#conbox img.headpic {
    width: 40px;
    height: 40px;
    padding: 1px;
    float: left;
    border: 1px solid #D8D8D8;
}

div#conbox a.block {
    background: #cffe8a;
    text-decoration: none;
}

div#conbox dl.myfond dd {
    padding-left: 20px;
    text-align: left;
}

div#conbox dl.myfond dt {
    padding-left: 0px;
    text-align: left;
}

div#conbox dl.myfond textarea {
    font-size: 13px;
    width: 480px;
}

div#conbox dl.myfont input {
    margin-left: 0 !important;
    margin-left: -17px;
}

div#conbox dd.greentitle {
    font-size: 14px;
    color: #6c9f1e;
    font-weight: bold;
    float: left;
    width: 390px;
}

div#conbox dd.greentitle a {
    text-decoration: underline;
    font-size: 13px;
}

div#conbox dd.greentitle label {
    display: block;
    font-size: 12px;
    color: #000;
    font-weight: normal;
    padding-left: 15px;
}

div#conbox dl.equipment label.info_left {
    font-size: 14px;
    color: #6C9F1E;
    font-weight: bold;
    line-height: 24px;
}

div#conbox p.mark {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-weight: bold;
}

div#conbox ul.tempelete li {
    display: block;
    float: left;
    margin-left: 45px;
    height: 150px;
}

div#conbox p.email {
    width: 290px;
    padding: 0 25px 25px 0;
    font-size: 14px;
    float: left;
    margin: 10px 0px 20px 0px;
    display: block;
}

div#conbox dl.emailguid {
    width: 390px;
    float: left;
}

div#conbox p.mailaddress {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
}

div#conbox div.email_help {
    width: 220px;
    float: left;
    padding-right: 30px;
    line-height: 18px;
    color: #000;
}

div#conbox div.email_help h2 {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

div#conbox div.email_help label.info {
    display: block;
    color: #575757;
    margin-top: 5px;
}

div#conbox div.email_help a {
    color: #6C9F1E;
    text-decoration: underline;
}

div#conbox div.email_help label.block a {
    text-decoration: none;
    color: #000;
    background: #D6FDA0;
}

div#conbox div.application {
    clear: both;
    margin-left: 40px;
}

div#conbox div.application div {
    float: left;
    margin: 20px 0;
}

div#conbox div.application div.title {
    width: 190px;
    padding-top: 5px;
    font-size: 14px;
    color: #6c9f1e;
    font-weight: bold;
}

div#conbox div.application div.name {
    width: 430px;
    padding-left: 10px;
}

div#conbox div.application div.edit {
    width: 60px;
    padding-top: 5px;
}

div.line {
    border-bottom: 1px solid #f7f7f7;
    clear: both;
}

div#conbox dl.acount_safe a {
    text-decoration: none;
}

div#conbox dl.acount_safe ul {
    list-style-type: none;
    margin: 0;
}

div#conbox dl.acount_safe ul li {
    margin: 0;
}

div#conbox dl.acount_safe ul.tab, div#conbox dl.acount_safe ul.tab_global {
    padding: 0;
}

div#conbox dl.acount_safe ul.tab li, div#conbox dl.acount_safe ul.nodeTab li, div#conbox dl.acount_safe ul.tab_global li {
    display: block;
    float: left;
    padding: 0 15px;
    line-height: 25px;
    margin-right: 2px;
    color: #000;
    background: url(/images/account/tabconner.gif) right 0 no-repeat #D2D2D2;
}

div#conbox dl.acount_safe ul.tab li.select {
    background: url(/images/account/tabconner_low.gif) right 0 no-repeat #f5f5f5;
}

div#conbox dl.acount_safe ul.tab_global li.select {
    background: url(/images/account/tabconner_low.gif) right 0 no-repeat #f5f5f5;
}

div#conbox dl.acount_safe ul.tab_box {
    background: #f5f5f5;
    clear: both;
    padding: 10px 15px;
}

div#conbox dl.acount_safe ul.tab_box li {
    padding-bottom: 5px;
}

div#conbox dl.acount_safe dd.shortab {
    padding-left: 13px;
}

div#conbox dl.acount_safe dd.shortab ul.tab li {
    padding: 0 10px;
}

div#conbox dl.table dd {
    clear: both;
    padding: 7px 0;
    background: #fff;
}

div#conbox dl.table dd.c1 {
    background: #e5e5e5;
}

div#conbox dl.table dd.c2 {
    background: #e5e5e5;
}

div#conbox dl.table dd.c3 {
    background: #e5e5e5;
}

div#conbox dl.table dd li {
    margin: 0;
    display: inline;
}

div#conbox dl.table dd.title {
    font-weight: bold;
    font-size: 14px;
    color: #5f5f5f;
}

div#conbox dl.table dd.title li.td1 {
    color: #5f5f5f;
}

div#conbox dl.table dd li.td1 {
    display: block;
    float: left;
    width: 100px;
    text-align: left;
    color: #6C9F1E;
    font-weight: bold;
}

div#conbox dl.table dd li.td2 {
    display: block;
    float: left;
    width: 350px;
}

div#conbox dl.table dd li.td2 a {
    color: #6C9F1E;
}

div#conbox dl.table dd li.td3 img {
    margin-left: 8px;
}

#flowmeter {
    position: relative;
    width: 200px;
    text-align: left;
    float: left;
    margin-top: 15px;
}

#flowleft {
    float: left;
    height: 20px;
    width: 100px;
    background: url(/images/account/fm_bg_blank.gif) repeat-x;
}

#flowused {
    height: 20px;
    background: url(/images/account/fm_bg_use.gif) repeat-x;
}

#flowmask {
    position: absolute;
    left: -2px;
    top: 0;
    height: 20px;
    width: 105px;
    background: transparent !important;
}

#flowmaximum {
    padding: 2px 0 2px 10px;
    font-size: 12px;
    float: left;
    color: #a8a691;
    font-weight: bold;
}

#flowpercent {
    font-size: 1.8em;
    font-weight: bold;
    color: #73b51c;
    margin: 0.5em 0em 0.6em 0em;
}

div#vipguide {
    width: 55%;
    float: left;
    background: #ffffcd;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    padding-left: 15px;
}

div#vipguide a {
    color: #97a158;
}

div#usespace {
    float: left;
    background: #ffffcd;
    width: 35%;
    margin-left: 10px;
    height: 70px;
    padding-left: 50px;
}

div#usespace span.usedspace {
    color: #8fac2e;
    display: block;
    clear: both;
    margin-top: 5px;
    font-weight: bold;
}

div#account_vip {
    clear: both;
    margin-bottom: 100px;
    width: 100%;
}

.defaultSettingRadio {
    color: #6C9F1E;
    margin: 20px 20px 20px 0px;
    font-size: 13px;
    font-weight: bold;
}