#interestMenu {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 0.4em;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #f3f3f3 1px solid;
	HEIGHT: 24px;
}
#interestNavi UL {
	WIDTH: 100%;
	LIST-STYLE-TYPE: none;
}
#interestNavi LI {
	DISPLAY: block;
	FLOAT: left;
	WIDTH: 33%;
}
#interestNavi LI#prevMonth {
	TEXT-ALIGN: left;
}
#interestNavi LI#thisMonth {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1.2em;
	COLOR: #6b9f1f;
	TEXT-ALIGN: center;
}
#interestNavi LI#nextMonth {
	TEXT-ALIGN: right;
}
.DayView {
	MARGIN-TOP: 2em;
	MARGIN-LEFT: auto;
	WIDTH: 600px;
	MARGIN-RIGHT: auto;
}
HTML .DayView {
	POSITION: relative;
}
IMG.headpic {
	BORDER-RIGHT: #dddddd 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #dddddd 1px solid;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #dddddd 1px solid;
	WIDTH: 48px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #dddddd 1px solid;
	HEIGHT: 48px;
}
UL.img-list IMG.BuddyIcon {
	FLOAT: none;
}
.DayView TR {
	VERTICAL-ALIGN: top;
}
.DayPic {
	PADDING-BOTTOM: 20px;
	TEXT-ALIGN: center;
}
.PicDesc {
	PADDING-LEFT: 30px;
	PADDING-TOP: 10px;
	TEXT-ALIGN: left;
}
.PicDesc H3 {
	MARGIN-TOP: 0px;
	COLOR: #333333;
}
.PicFrom {
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 30px;
}
.PicFrom .strong {
	FONT-SIZE: 1.2em;
}
.PicFrom IMG {
	MARGIN-RIGHT: 5px;
}
A.image_link:link {
	BACKGROUND-COLOR: transparent;
}
A.image_link:visited {
	BACKGROUND-COLOR: transparent;
}
A.image_link:hover {
	BACKGROUND-COLOR: transparent;
}
A.image_link:active {
	BACKGROUND-COLOR: transparent;
}
IMG.intrestpop_thumb {
	MARGIN: 0px 3px 3px 0px;
}
.intrestpop_td {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
}
#intrestpop_day_link:link {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #6b9f1f;
	BACKGROUND-COLOR: white;
	TEXT-DECORATION: none;
}
#intrest_pop_day_link:visited {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #6b9f1f;
	BACKGROUND-COLOR: white;
	TEXT-DECORATION: none;
}
#intrest_pop_day_link:hover {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #6b9f1f;
	BACKGROUND-COLOR: white;
	TEXT-DECORATION: none;
}
#intrest_pop_day_link:active {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #6b9f1f;
	BACKGROUND-COLOR: white;
	TEXT-DECORATION: none;
}
#exploreInterestingness {
	MARGIN-BOTTOM: 1.5em;
}
.flashShow{
    float: left;
    margin-left: 6px;
}
#exploreTags {
	MARGIN-BOTTOM: 1.5em;
}
#exploreRecommend {
	MARGIN-BOTTOM: 1.5em;
}
#exploreRecommend TD {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	VERTICAL-ALIGN: top;
	PADDING-TOP: 0px;
}
.ExploreAlbum TD {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 5px;
}
.ExploreGroup TD {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 5px;
}
.ExploreUser {
	MARGIN-TOP: 1em;
	WIDTH: 240px;
}
.ExploreAlbum {
	MARGIN-TOP: 1em;
	WIDTH: 240px;
}
.ExploreGroup {
	MARGIN-TOP: 1em;
	WIDTH: 240px;
}
.ExploreUser .UserIcon {
	PADDING-RIGHT: 0px! important;
}
.ExploreUser .UserName {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 0.5em;
}
.ExploreAlbum .AlbumName {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 0.5em;
}
.ExploreGroup .GroupName {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 0.5em;
}
.ExploreUser .UserMeta {
	MARGIN: 0px 0px 0.5em;
}
.ExploreUser .UserDesc {
	MARGIN: 0px 0px 0.5em;
}
.ExploreAlbum .AlbumMeta {
	MARGIN: 0px 0px 0.5em;
}
.ExploreAlbum .AlbumDesc {
	MARGIN: 0px 0px 0.5em;
}
.ExploreGroup .GroupMeta {
	MARGIN: 0px 0px 0.5em;
}
.ExploreGroup .GroupDesc {
	MARGIN: 0px 0px 0.5em;
}
.Interestingness {
	MARGIN-TOP: 0px;
}
.Interestingness .WhatIs {
	PADDING-TOP: 1em;
}
.ExploreChoose {
	PADDING-LEFT: 5px;
}
DIV.PopularTags {
	PADDING-RIGHT: 5px;
	MARGIN-BOTTOM: 10px;
}
DIV.PopularTags A:link {
	TEXT-DECORATION: none;
}
DIV.PopularTags A:visited {
	TEXT-DECORATION: none;
}
DIV.TagsClouds {
	PADDING-RIGHT: 1.5em;
	PADDING-LEFT: 1.5em;
	PADDING-BOTTOM: 1.5em;
	PADDING-TOP: 1.5em;
	BACKGROUND-COLOR: #fafafa;
}
DIV.TagsClouds A:hover {
	COLOR: #fafafa;
	BORDER-BOTTOM: 0pt;
	BACKGROUND-COLOR: #ffffff;
}
DIV.TagsClouds A:active {
	COLOR: #ffffff;
	BORDER-BOTTOM: 0pt;
	BACKGROUND-COLOR: #fafafa;
}
DIV.SearchGroupList {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	MARGIN: 0px auto;
	WIDTH: 80%;
	PADDING-TOP: 10px;
	POSITION: relative;
}
DIV.SearchGroupList .GroupList LI {
	WIDTH: 500px;
	LIST-STYLE-TYPE: none;
}
DIV.SearchGroupList .GroupList LI P {
	MARGIN-LEFT: 70px;
}
.explore_calendar {
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #ddd 1px solid;
	PADDING-LEFT: 2px;
	FLOAT: right;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 10px 10px;
	BORDER-LEFT: #ddd 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #ddd 1px solid;
}
.Separated {
	BORDER-TOP: #ddd 1px solid;
	PADDING-TOP: 5px;
}
.SquareLine LI {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FLOAT: left;
	PADDING-BOTTOM: 5px;
	OVERFLOW: hidden;
	WIDTH: 80px;
	PADDING-TOP: 5px;
	LIST-STYLE-TYPE: none;
	POSITION: relative;
	HEIGHT: 110px;
	TEXT-ALIGN: center;
}
.SquareLine LI P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 0px;
	MARGIN: 3px;
	PADDING-TOP: 5px;
}
.SquareLine LI .ListPhoto {
	MARGIN: auto;
	TEXT-ALIGN: left;
}
.SquareLine .cc_more {
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-ALIGN: right;
}
.License {
	PADDING-RIGHT: 10px;
	TEXT-ALIGN: right;
}
DIV.PhotoBy {
	FLOAT: left;
	OVERFLOW: hidden;
	WIDTH: 245px;
}
DIV.calender {
	FLOAT: right;
	WIDTH: 240px;
}
DIV#heading UL {
	MARGIN: 0px;
	LIST-STYLE-TYPE: none;
}
DIV#heading UL LI {
	DISPLAY: inline;
}
DIV#container A {
	COLOR: #6d9e1e;
}
DIV#container UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
}
DIV#recommend_notice {
	FLOAT: right;
	WIDTH: 235px;
}
DIV#recommend_notice DIV.tab {
	CLEAR: both;
	padding-left:5px;
	BACKGROUND: #f1f1f1;
	WIDTH: 230px;
	POSITION: relative;
	HEIGHT: 25px;
}
DIV#recommend_notice DIV.tab DD {
	BORDER-RIGHT: #f1f1f1 1px solid;
	BORDER-TOP: #f1f1f1 1px solid;
	DISPLAY: block;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: #f1f1f1;
	FLOAT: left;
	BORDER-LEFT: #f1f1f1 1px solid;
	WIDTH: 80px;
	MARGIN-RIGHT: 10px;
	BORDER-BOTTOM: #f1f1f1 0px solid;
	POSITION: relative;
	HEIGHT: 20px;
	TEXT-ALIGN: center;
}
DIV#recommend_notice DIV.tab A {
	MARGIN-TOP: 3px;
	DISPLAY: block;
	LEFT: 0px;
	WIDTH: 80px;
	COLOR: #010101;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 20px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
}
DIV#recommend_notice DIV.tab DD.select {
	MARGIN-TOP: 4px;
	BACKGROUND: #fff;
	COLOR: #6c9f20;
}
DIV#recommend_notice DIV.tab DD.select A {
	MARGIN-TOP: 4px;
	BACKGROUND: #fff;
	HEIGHT: 20px;
}
DIV#recommend_notice DL.content {
	CLEAR: both;
	BORDER-RIGHT: #f1f1f1 1px solid;
	PADDING-RIGHT: 20px;
	BORDER-TOP: #f1f1f1 3px solid;
	PADDING-LEFT: 20px;
	MARGIN-BOTTOM: 10px;
	PADDING-BOTTOM: 5px;
	OVERFLOW: hidden;
	BORDER-LEFT: #f1f1f1 1px solid;
	WIDTH: 193px;
	height: 285px;
	PADDING-TOP: 20px;
	BORDER-BOTTOM: #f1f1f1 1px solid;
}
DIV#recommend_notice DL.content LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(/images/list-icon.gif) no-repeat 0px 50%;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 0px;
}
DIV#recommend_notice DL.content P {
	PADDING-BOTTOM: 10px;
	COLOR: #5d5d5d;
	BORDER-BOTTOM: #f7f7f7 1px solid;
}
DIV#recommend_notice DL.content DD.more {
	MARGIN-TOP: 15px;
	TEXT-ALIGN: right;
}
DIV#extraction {
	CLEAR: both;
}
DIV#extraction DIV.img-box {
	BORDER-RIGHT: #cce6a7 1px solid;
	BORDER-TOP: #cce6a7 1px solid;
	MARGIN-BOTTOM: 20px;
	BORDER-LEFT: #cce6a7 1px solid;
	BORDER-BOTTOM: #cce6a7 1px solid;
}
DIV#extraction DIV.box-content {
	BORDER-RIGHT: #e7f5d2 3px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #e7f5d2 3px solid;
	PADDING-LEFT: 10px;
	BACKGROUND: url(/images/orange_icon.png) no-repeat 12px 20px;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #e7f5d2 3px solid;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #e7f5d2 3px solid;
}
DIV#extraction UL.img-list LI {
	DISPLAY: block;
	FLOAT: left;
}
DIV#extraction UL.box-info {
	FLOAT: left;
	MARGIN-BOTTOM: 10px;
	PADDING-BOTTOM: 13px;
	BORDER-BOTTOM: #f8f8f8 1px solid;
}
DIV#extraction UL.box-info LI {
	DISPLAY: block;
	FLOAT: left;
}
DIV#extraction UL.box-info LI.td1 {
	PADDING-LEFT: 10px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	WIDTH: 70px;
	COLOR: #6b9f20;
}
DIV#extraction UL.box-info LI.td2 {
	WIDTH: 305px;
}
DIV#extraction UL.box-info LI.td3 {
	WIDTH: 100px;
	PADDING-TOP: 15px;
	TEXT-ALIGN: right;
}
DIV#extraction UL.img-list LI.five-list {
	OVERFLOW: hidden;
	WIDTH: 80px;
	TEXT-ALIGN: center;
}
DIV#extraction UL.img-list LI.four-list {
	OVERFLOW: hidden;
	WIDTH: 95px;
    HEIGHT: 156px;
	TEXT-ALIGN: center;
}
DIV#extraction UL.img-list LI.four-list IMG {
	BORDER-RIGHT: #dddddd 1px solid;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #dddddd 1px solid;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #dddddd 1px solid;
	WIDTH: 75px;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #dddddd 1px solid;
	HEIGHT: 75px;
}
DIV#extraction UL.img-list A {
	FONT-WEIGHT: bold;
	COLOR: #454545;
}
DIV#extraction DIV.left {
	FLOAT: left;
	WIDTH: 236px;
}
DIV#extraction DIV.right {
	FLOAT: right;
	WIDTH: 515px;
}
DIV#extraction DIV.list-box {
	BORDER-RIGHT: #e3f4c8 1px solid;
	BORDER-TOP: #e3f4c8 1px solid;
	MARGIN-BOTTOM: 5px;
	BORDER-LEFT: #e3f4c8 1px solid;
	BORDER-BOTTOM: #e3f4c8 1px solid;
}
DIV#extraction DIV.list-box H2 {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 20px;
	FONT-SIZE: 14px;
	BACKGROUND: #e3f4c8;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	LINE-HEIGHT: 25px;
	PADDING-TOP: 0px;
	POSITION: relative;
	HEIGHT: 25px;
}
DIV#extraction DIV.list-box H2 IMG {
	LEFT: 20px;
	POSITION: absolute;
	TOP: 25px;
}
DIV#extraction DIV.list-content {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 15px;
	PADDING-TOP: 15px;
}
DIV#extraction DIV.list-content UL.bbs-list A {
	COLOR: #464646;
	TEXT-DECORATION: none;
}
DIV#extraction DIV.yupoo-user {
	CLEAR: both;
}
DIV#extraction DIV.yupoo-user UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%;
}
DIV#extraction DIV.yupoo-user IMG.headpic {
	FLOAT: left;
	MARGIN-RIGHT: 10px;
}
DIV#extraction UL.logo-list LI {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 5px;
}
DIV#extraction UL.logo-list IMG.img-logo {
	WIDTH: 22px;
	MARGIN-RIGHT: 5px;
}
DIV#extraction UL.logo-list A {
	FONT-WEIGHT: bold;
	COLOR: #474747;
}
SPAN.PopularTag {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	MARGIN: 0pt 10px 5px 0pt;
	TEXT-DECORATION: none;
}
DIV.list-content UL LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 2px;
	PADDING-TOP: 0px;
}
DIV.starshow A {
	COLOR: #6d9f24;
}
DIV.starshow A.back {
	BACKGROUND: #e0f1c4;
}
DIV.starshow LABEL.back {
	BACKGROUND: #e0f1c4;
}
DIV.starshow {
	LINE-HEIGHT: 19px;
}
DIV.starshow UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
}
DIV#starshow-header {
	BACKGROUND: url(/images/explore/starshow_03.gif) repeat-x 0px 0px;
	MARGIN-BOTTOM: 10px;
	HEIGHT: 123px;
	TEXT-ALIGN: right;
}
DIV#starshow-header SELECT.top_select {
	MARGIN-BOTTOM: 100px;
}
DIV#starshow-resume {
	CLEAR: both;
}
DIV#starshow-resume A.blod {
	FONT-WEIGHT: bold;
}
DIV#starshow-resume DL.user_info {
	FLOAT: left;
	WIDTH: 200px;
}
DIV#starshow-resume DL.user_info DD {
	CLEAR: both;
	PADDING-LEFT: 25px;
	LINE-HEIGHT: 19px;
}
DIV#starshow-resume DL.starshow_about {
	FLOAT: left;
	WIDTH: 527px;
}
DIV#starshow-resume DL.starshow_about DD {
	BACKGROUND: url(/images/explore/starshow_11.gif) no-repeat 0px top;
	PADDING-TOP: 109px;
	text-index: 24px;
}
DIV#starshow-details {
	CLEAR: both;
	PADDING-TOP: 30px;
}
DL.starshow_words {
	FLOAT: left;
	WIDTH: 190px;
}
DL.starshow_words P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 140px;
	PADDING-TOP: 0px;
}
LABEL.block_left {
	DISPLAY: block;
	FLOAT: left;
	MARGIN-RIGHT: 3px;
}
DL.starshow_words DD {
	CLEAR: both;
	PADDING-LEFT: 20px;
	MARGIN-BOTTOM: 7px;
}
DIV#starshow_album {
	PADDING-LEFT: 20px;
	FLOAT: left;
	WIDTH: 510px;
}
DIV.starshow_photo_list IMG {
	FLOAT: left;
	MARGIN: 0px 10px 5px 0px;
}
DIV#starshow_other {
	CLEAR: both;
	PADDING-TOP: 30px;
}
DL.starshow_album_list {
	FLOAT: left;
	WIDTH: 250px;
}
DL.starshow_yupoo {
	FLOAT: left;
	WIDTH: 500px;
}
DL.starshow_yupoo DD {
	CLEAR: both;
	PADDING-LEFT: 25px;
}
DL.starshow_yupoo LABEL.block_left {
	MARGIN-TOP: 15px;
	DISPLAY: block;
	BACKGROUND: #e0f1c4;
	FLOAT: left;
}
DL.starshow_yupoo P {
	FLOAT: left;
	MARGIN-BOTTOM: 10px;
	WIDTH: 330px;
	LINE-HEIGHT: 22px;
}
DIV.tab_inner {
	PADDING-LEFT: 40px;
	BACKGROUND: #ececec;
	LINE-HEIGHT: 25px;
	HEIGHT: 30px;
}
DIV.tab_inner A {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 10px;
	MARGIN-TOP: 5px;
	DISPLAY: block;
	PADDING-LEFT: 10px;
	BORDER-LEFT-WIDTH: 0px;
	FLOAT: left;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN-LEFT: 30px;
	PADDING-TOP: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	TEXT-DECORATION: none;
}
DIV.tab_inner A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%;
}
DIV.tab_inner A.select {
	BACKGROUND: #fff;
}
DIV.img_cg {
	PADDING-BOTTOM: 14px;
	MARGIN: 0px auto;
	WIDTH: 730px;
	POSITION: relative;
}
IMG.close_cg {
	RIGHT: -8px;
	CURSOR: pointer;
	POSITION: absolute;
	TOP: -8px;
}