BODY {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

DIV#top_guide DL {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}

DIV#top_guide DD {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}

DIV#top_guide P {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}

DIV#top_guide UL {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}

DIV#top_guide IMG {
    BORDER-TOP-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    BORDER-RIGHT-WIDTH: 0px
}

H2 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px
}

DIV#top_guide {
    CLEAR: both;
    MARGIN: 10px auto 0px;
    WIDTH: 730px
}

DIV.help-tag {
    PADDING-LEFT: 20px;
    FLOAT: left;
    WIDTH: 340px
}

DIV.icon-info {
    PADDING-RIGHT: 15px;
    MARGIN-TOP: 7px;
    PADDING-LEFT: 35px;
    BACKGROUND: #91d135;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    COLOR: #fff;
    LINE-HEIGHT: 22px;
    MARGIN-RIGHT: 20px;
    PADDING-TOP: 0px;
    POSITION: relative;
    HEIGHT: 22px
}

DIV.icon-info LABEL.icon-left {
    DISPLAY: block;
    BACKGROUND: url(../../images/help/icon_left.gif) no-repeat;
    LEFT: 0px;
    WIDTH: 28px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 22px
}

DIV.icon-info LABEL.icon-right {
    DISPLAY: block;
    RIGHT: -1px;
    BACKGROUND: url(../../images/help/icon_right.gif) no-repeat;
    WIDTH: 7px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 22px
}

DIV#helpcenter {
    CLEAR: both;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #91cf3c 1px solid;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../../images/help/bg.gif) repeat-x 50% bottom;
    PADDING-BOTTOM: 20px;
    MARGIN: 0px auto;
    WIDTH: 730px;
    LINE-HEIGHT: 20px;
    PADDING-TOP: 35px;
    POSITION: relative
}

DIV#helpcenter DIV.content {
    CLEAR: both;
    PADDING-RIGHT: 45px;
    PADDING-LEFT: 45px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}

DIV.conner {
    WIDTH: 7px;
    POSITION: absolute;
    HEIGHT: 176px
}

DIV.TL {
    BACKGROUND: url(../../images/help/TL.gif) no-repeat;
    LEFT: 0px;
    TOP: -1px
}

DIV.TR {
    RIGHT: 0px;
    BACKGROUND: url(../../images/help/TR.gif) no-repeat;
    TOP: -1px
}

DIV.BL {
    BACKGROUND: url(../../images/help/BL.gif) no-repeat;
    LEFT: 0px;
    BOTTOM: -1px
}

DIV.BR {
    RIGHT: 0px;
    BACKGROUND: url(../../images/help/BR.gif) no-repeat;
    BOTTOM: -1px
}

DIV#help_center DL {
    MARGIN-BOTTOM: 55px
}

DIV#help_center DT {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 10px
}

DIV#help_center DL.inline {
    FLOAT: left;
    WIDTH: 275px;
    MARGIN-RIGHT: 40px
}

DIV#help_guide DL {
    MARGIN-BOTTOM: 15px
}

DIV#help_guide DT {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px
}

DIV#help_guide DD LI {
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 20px;
    COLOR: #2a2a2a
}

DIV#help_guide DD LI.list-style {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    LIST-STYLE-IMAGE: url(../../images/help/icon.gif);
    LIST-STYLE-TYPE: disc
}

DIV#help_guide DD LI.list-none {
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    LIST-STYLE-TYPE: none
}

DIV#help_guide DD LI.list-head {
    FONT-SIZE: 14px;
    LIST-STYLE-TYPE: none
}

DIV#help_guide DD.extend-content {
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    BACKGROUND: #f4f4f4;
    PADDING-BOTTOM: 15px;
    WIDTH: 600px;
    PADDING-TOP: 15px;
    POSITION: relative
}

DIV#help_guide DD.extend-content LABEL.CTL {
    DISPLAY: block;
    BACKGROUND: url(../../images/help/CTL.gif) no-repeat;
    LEFT: 0px;
    WIDTH: 7px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 9px
}

DIV#help_guide DD.extend-content LABEL.CTR {
    DISPLAY: block;
    RIGHT: 0px;
    BACKGROUND: url(../../images/help/CTR.gif) no-repeat;
    WIDTH: 7px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 9px
}

DIV#help_guide DD.extend-content LABEL.CBR {
    DISPLAY: block;
    RIGHT: 0px;
    BACKGROUND: url(../../images/help/CBR.gif) no-repeat;
    WIDTH: 7px;
    BOTTOM: -5px;
    POSITION: absolute;
    HEIGHT: 9px
}

DIV#help_guide DD.extend-content LABEL.CBL {
    DISPLAY: block;
    BACKGROUND: url(../../images/help/CBL.gif) no-repeat;
    LEFT: 0px;
    WIDTH: 7px;
    BOTTOM: -5px;
    POSITION: absolute;
    HEIGHT: 9px
}

DIV#map {
    MARGIN: 10px auto 10px 90px;
    LINE-HEIGHT: 21px;
	float: left;
	width: 300px;
}

DIV#map DL {
    MARGIN-BOTTOM: 20px
}

DIV#map DD {
    PADDING-LEFT: 20px
}

DIV#map DL DT {
    FONT-WEIGHT: bold;
    FONT-SIZE: 17px;
    COLOR: #5f5f5f
}

DIV#map UL LI {
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    MARGIN-BOTTOM: 5px;
    COLOR: #5f5f5f
}

DIV#map UL LI UL LI {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: 5px;
    COLOR: #5f5f5f
}

DIV#map UL LI UL LI A {
    FONT-WEIGHT: normal
}

DIV#map UL LI UL LI UL LI {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #5f5f5f
}

DIV#map DIV.map-left {
    FLOAT: left;
    WIDTH: 350px;
    MARGIN-RIGHT: 15px
}

DIV#map DIV.map-right {
    FLOAT: left;
    WIDTH: 270px
}
