<div id="content">
    <div id="heading">
        <h1><a href="/tag"><%=l("subject_label_subjectTitle")%></a></h1>
    </div>
    <div class="clear">
    </div>
	<%=render :partial=>"/subjectTags"%>
</div>
