<% if getBrowserLanguage == "zh" %>
<a href="#">美眉楼从今开始崇尚“分享”和“参与”</a>
<p>
    只要<b>评论</b>，就有积分<br>
    只要<b>上传</b>照片超过100张，经审核奖励VIP账号，可以享受所有美女大图免费下载.
</p>
<% elsif getBrowserLanguage == "en" %>
<a href="#">mmlou.com <b>FREE</b> now</a>
<p>
    <b>Comment</b>, get credit 1 point for downloading big and high definition picture.<br>
    <b>Share</b> more than 100 pictures, get vip account.
</p>
<% end %>