<div id="content">
    <div>
        <div id="container">
            <center>
                <div class="Problem">
                    <%=@alertMessage %>
                </div>
            </center>
        </div>
    </div>
</div>
