<div id="centerContainer">
    <div id="title">
    关于我们 About us
    </div>
    <div class="content">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美女是一种自然美的艺术，女性的美是一种至今无法解释的神奇艺术，从古至今，美女永远是一个永恒的话题。因此美眉楼就想让这个话题在这里继续延续。
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;集合娱乐和分享的理念，美眉楼学习了国外最先进的图片共享网站 flickr.com 的技术，全心全意地为共享欣赏美女这种大自然最高境界的美而做出努力。
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请大家支持 美眉楼。
    </div>
</div>